.heading1 {
  color: blue;
  font-size: 36px;
  font-weight: 900;
}
.paragraph {
  background-color: greenyellow;
  color: white;
}
.black-text {
  color: black;
}
li {
  color: chocolate;
}
.cyan {
  color: cyan;
}
.yellow {
  color: yellow;
}
